* {
  font: inherit;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  font-size: 1em;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
}

ul {

}

li {
  font-size: 1.5em;
  font-weight: 100;
  list-style: none;
  float: left;
  height: 20%;
  width: 100%;
  color: white;
  border-top: 1px solid white;
  padding-left: .125em;
}

li:hover {
  background-color: white;
  border: 1px solid darkgray;
  color: darkgray;
}

input {
  width: 93%;
  color: darkgray;
  float: right;
}

input:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: darkgray;
}

label {
  color: white;
  display: inline;
  font-size: 1.25em;
}

#insur-dollars {
  display: none;
  color: darkgray;
  font-size: 1.25em;
  float: left;
  line-height: 1.25em;
  margin-right: .25em;
}

#left-column {
  width: 250px;
  height: 100vh;
  background-color: darkgray;
  position: fixed;
}

#right-column {
  width: 175px;
  height: 100vh;
  display: inline-block;
  float: right;
}

#bottom-of-right-column {
  height: 55%;
  width: 100%;
}

#right-column > div:first-child {
  height: 45%;
  width: 100%;
}

#bet-div, #cash-div {
  position: relative;
  top: 40%;
  text-align: left;
  margin-right: 5%;
  color: #50514F;
  font-size: 1.5em;
}

#top-of-left-column {
  width: 100%;
  height: 45%;
  border 1px solid white;
  position: relative;
}

#deck-container {
  height: 100%;
  width: 155px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
}

#buttons-container {
  height: 45%;
  width: 100%;
}

#main {
  height: 100vh;
  width: 69.5%;
  margin-left: 250px;
  margin-right: 175px;
  position: fixed;
}

#player1-container, #player2-container {
  height: 45%;
  width: 100%;
}

#displayMessage {
  width: 100%;
  display: inline-block;
  font-size: 1.5em;
  height: 5%;
  text-align: center;
  color: #50514F;

}

#restart, #insurance-container, #insur-input-container, #insur-bet-div {
  font-size: 1.5em;
  color: #50514F;
  width: 100%;
  display: inline-block;
  height: 10%;
  text-align: left;
}

#insur-input-container {
  font-size: inherit;
  text-align: inherit;
}

#restart:hover, #insurance-container:hover {
  color: white;
  background-color: darkgray;
}

#insurance {
  display: none;
  color: inherit;
  text-align: inherit;
}

#insur-input {
  display: none;
  float: left;
  width: 85%;
}

#insur-bet-text, #insur-bet {
  display: none;
}

.card {
  border-radius: 8px;
  width: 155px;
  height: 218px;
  margin: 0;
  position: absolute;
  text-align: center;
  transition: all 1s ease;
  left: 0px;
  top: 50px;
  z-index: 900;
  backface-visibility: hidden;
  overflow: hidden;


}

.card-background {
  background-image: url(../img/cards1/card_deck.svg);
  width: 100%;
  height: 100vh;
  position: absolute;
}

.card .face {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 800;
  width: inherit;
  height: inherit;
  -moz-border: 1.5px solid #727372;
  -webkit-border: 1.5px solid #727372;
  border: 1.5px solid #727372;
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: all .45s ease-in-out;
  box-shadow: 2px 2px 1px 1px #50514F;
}

.card .back {
  float: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  width: inherit;
  height: inherit;
  text-align: center;
  background: repeating-linear-gradient(
    45deg,
    #FFE066,
    #FFE066 2.5px,
    #F25F5C 5px,
    #F25F5C 150px
  );
  background-color: #F25F5C;
  border-radius: 8px;
  -moz-border: 1.5px solid #727372;
  -webkit-border: 1.5px solid #727372;
  border: 1.5px solid #727372;
  box-shadow: 2px 2px 1px 1px #50514F;
  transform: rotateX(0deg) rotateY(0deg);
  transform-style: preserve-3d;
  transition: all .45s ease-in-out;
}

.card-text-black {
  position: absolute;
  right: 4px;
  top: 2px;
  font-size: 2em;
  color: white;
}

.card-text-jack {
  position: absolute;
  left: 6px;
  bottom: 3px;
  font-size: 2em;
  color: white;
}

.card.flip .back {
  z-index: 900;
  transform: rotateY(180deg);
}

.card.flip .face {
  border-radius: 8px;
  z-index: 1000;
  transform: rotateX(0deg) rotateY(0deg);
}

.player1-card-left {
  transform: translate(450px, 450px) rotate(362deg);
}

.player1-card-right-0 {
  transform: translate(590px, 450px) rotate(363deg);
}

.player1-card-right-1 {
  transform: translate(730px, 450px) rotate(362deg);
}

.player1-card-right-2 {
  transform: translate(870px, 450px) rotate(363deg);
}

.player1-card-right-3 {
  transform: translate(1010px, 450px) rotate(363deg);
}

.player1-card-right-4 {
  transform: translate(1150px, 450px) rotate(363deg);
}

.player2-card-left{
  transform: translate(450px, 0px) rotate(362deg);
}

.player2-card-right-0 {
  transform: translate(590px, 0px) rotate(363deg);
}

.player2-card-right-1 {
  transform: translate(730px, 0px) rotate(362deg);
}

.player2-card-right-2 {
  transform: translate(870px, 0px) rotate(363deg);
}

.player2-card-right-3 {
  transform: translate(1010px, 0px) rotate(362deg);
}

.player2-card-right-4 {
  transform: translate(1150px, 0px) rotate(363deg);
}
/*************** ALL SPADES CARDS ***************/

.spades-of-A {
  background-position: -2072px -751px;
}

.spades-of-K {
  background-position: -1907px -751px;
}

.spades-of-Q {
  background-position: -1742px -751px;
}

.spades-of-J {
  background-position: -1579px -751px;
}

.spades-of-10 {
  background-position: -1415px -751px;
}

.spades-of-9 {
  background-position: -1250px -751px;
}

.spades-of-8 {
  background-position: -1085px -751px;
}

.spades-of-7 {
  background-position: -922px -751px;
}

.spades-of-6 {
  background-position: -756px -751px;
}

.spades-of-5 {
  background-position: -593px -751px;
}

.spades-of-4 {
  background-position: -428px -751px;
}

.spades-of-3 {
  background-position: -263px -751px;
}

.spades-of-2 {
  background-position: -98px -751px;
}


/*************** ALL HEARTS CARDS ***************/

.hearts-of-A {
  background-position: -2072px -520px;
}

.hearts-of-K {
  background-position: -1907px -520px;
}

.hearts-of-Q {
  background-position: -1744px -520px;
}

.hearts-of-J {
  background-position: -1578px -520px;
}

.hearts-of-10{
  background-position: -1414px -520px;
}

.hearts-of-9 {
  background-position: -1249px -520px;
}

.hearts-of-8 {
  background-position: -1085px -520px;
}

.hearts-of-7 {
  background-position: -921px -520px;
}

.hearts-of-6 {
  background-position: -756px -520px;
}

.hearts-of-5 {
  background-position: -592px -520px;
}

.hearts-of-4 {
  background-position: -427px -520px;
}

.hearts-of-3 {
  background-position: -263px -520px;
}

.hearts-of-2 {
  background-position: -98px -520px;
}

/*************** ALL CLUB CARDS ***************/

.clubs-of-A  {
  background-position: -2072px -291px;
}

.clubs-of-K  {
  background-position: -1907px -291px;
}

.clubs-of-Q  {
  background-position: -1740px -289px;
}

.clubs-of-J  {
  background-position: -1579px -290px;
}

.clubs-of-10 {
  background-position: -1414px -290px;
}

.clubs-of-9 {
  background-position: -1250px -289px;
}

.clubs-of-8 {
  background-position: -1085px -288px;
}

.clubs-of-7 {
  background-position: -921px -289px;
}

.clubs-of-6 {
  background-position: -756px -288px;
}

.clubs-of-5 {
  background-position: -592px -289px;
}

.clubs-of-4 {
  background-position: -427px -289px;
}

.clubs-of-3 {
  background-position: -263px -289px;
}

.clubs-of-2 {
  background-position: -99px -289px;
}

/*************** ALL DIAMOND CARDS ***************/
.diams-of-A {
  background-position: -2072px -61px;
}

.diams-of-K {
  background-position: -1907px -60px;
}

.diams-of-Q {
  background-position: -1743px -60px;
}

.diams-of-J {
  background-position: -1578px -60px;
}

.diams-of-10 {
  background-position: -1414px -59px;
}

.diams-of-9 {
  background-position: -1250px -58px;
}

.diams-of-8 {
  background-position: -1085px -58px;
}

.diams-of-7 {
  background-position: -920px -58px;
}

.diams-of-6 {
  background-position: -756px -58px;
}

.diams-of-5 {
  background-position: -592px -58px;
}

.diams-of-4 {
  background-position: -427px -58px;
}

.diams-of-3 {
  background-position: -263px -58px;
}

.diams-of-2 {
  background-position: -99px -58px;
}
